/*
Theme Name: Guo Yunhe
Theme URI: https://gitlab.com/guoyunhe/wordpress-theme-guoyunhe
Author: Guo Yunhe
Author URI: https://guoyunhe.me/
Description: WordPress theme for my very personal life
Version: 1.0
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: guoyunhe
Tags: personal
*/

/*
--------------------------------------------------------------------------------
Base
--------------------------------------------------------------------------------
*/

/* Responsive font size. It is big, but okay :-) */

html {
	font-size: 16px;
	line-height: 1.5;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
}

/* Page background, text color and font family */

body {
	font-family:
		/* Chinese fonts */ "Noto Serif SC", STSong, SimSun,
        /* Latin fonts */ "Noto Serif", Georgia, "Times New Roman", serif;
    background: #ffffff;
    color: #000000;
}

/* Container */

.container {
	max-width: 600px;
	padding: 0 2rem;
	margin: 0 auto;
}

/*
--------------------------------------------------------------------------------
Link
--------------------------------------------------------------------------------
*/

/* Link color works for both light and dark browser configuration */

@media screen {
	a {
		color: #73ba25;
	}

	a:visited {
		color: #35b9ab;
	}
}

/*
--------------------------------------------------------------------------------
Image
--------------------------------------------------------------------------------
*/

img {
	max-width: 100%;
	height: auto;
}

/*
--------------------------------------------------------------------------------
Input
--------------------------------------------------------------------------------
*/

button,
input,
select,
textarea {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.5em;
}

/*
--------------------------------------------------------------------------------
Site Header
--------------------------------------------------------------------------------
*/

#site-header {
	margin: 3rem 0;
}

#site-name {
	text-transform: uppercase;
}

/*
--------------------------------------------------------------------------------
Site Content
--------------------------------------------------------------------------------
*/

#site-content {
	margin: 3rem 0;
}

#site-content-menu {
	list-style: upper-roman;
	padding-left: 2.5rem;
}

#site-content-menu:lang(zh-CN) {
    list-style: simp-chinese-informal;
    padding-left: 2rem;
}

#site-content-menu li {
	line-height: 2em;
}

/*
--------------------------------------------------------------------------------
Site Footer
--------------------------------------------------------------------------------
*/

#site-footer {
	margin: 3rem 0;
}

#site-footer hr {
	width: 10em;
	margin: 0;
}

/*
--------------------------------------------------------------------------------
Screen Reader
--------------------------------------------------------------------------------
*/

.screen-reader-text {
	display: none;
}

/*
--------------------------------------------------------------------------------
Featured Image
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Media
--------------------------------------------------------------------------------
*/

/* Image */

figure.wp-caption {
	margin-left: auto;
	margin-right: auto;
}

figcaption.wp-caption-text {
	padding: 0.5em;
	text-align: center;
}

/* Force center alignment */

.alignnone,
.aligncenter,
.alignleft,
.alignright {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
--------------------------------------------------------------------------------
Search Form
--------------------------------------------------------------------------------
*/

.search-form {
	display: flex;
	min-width: 0;
}

.search-field {
	min-width: 0;
}

/*
--------------------------------------------------------------------------------
Comment
--------------------------------------------------------------------------------
*/

#comments {
	font-size: 16px;
}

/* Comment list */

.comment-list {
	list-style: none;
	padding: 0;
}

.comment {
	margin-bottom: 1em;
}

.comment-body {
	margin-bottom: 1em;
}

.comment-meta::after {
	content: " ";
	display: table;
	clear: both;
}

.comment-author .avatar {
	float: left;
}

/* Comment form */

.comment-form label {
	display: inline-block;
	width: 6em;
	vertical-align: top;
	line-height: 2em;
}

.comment-form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

/*
--------------------------------------------------------------------------------
Pagination
--------------------------------------------------------------------------------
*/

.nav-links {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

/*
--------------------------------------------------------------------------------
404 Not Found
--------------------------------------------------------------------------------
*/

.error-404.not-found {
	padding: 2em;
	margin: auto;
	max-width: 600px;
}
